<% provide :title, (t "about")%>
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield :title %></title>
</head>
<body>
  <h1>About</h1>
  <p>
    <%= t(".content1") %> <em><%= link_to (t "tut_name"),
      "http://www.railstutorial.org/"%></em>
    <%= t(".content2") %>
    <%= link_to (t ".book"), "http://www.railstutorial.org/book"%>
    <%= t(".content3") %>
    <%= link_to (t ".screencast_series"),
      "http://screencasts.railstutorial.org/"%>
    <%= t(".content4") %>
    <%= link_to (t ".ror"), "http://rubyonrails.org/"%>.
    <%= t(".content5") %>
  </p>
</body>
</html>
